.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.headBk {
  height: 56px;
  background: #2A303C;
  opacity: 0.2;
}
.headContain {
  height: 56px;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-width: 1200px;
}
.mouleLogo {
  list-style: none;
  float: left;
}
.mouleLogo li {
  float: left;
}
.mouleLogo .vertical {
  width: 2px;
  height: 16px;
  background: #fff;
  margin: 20px 0;
}
.mouleLogo a {
  display: inline-block;
  color: #fff;
}
.mouleLogo .companyName {
  font-size: 20px;
  font-weight: 700;
}
.mouleLogo .companyName a {
  margin: 14px 0;
  padding-left: 10px;
}
.mouleLogo .logo a {
  margin: 13px 0;
}
.logoImg {
  width: 122px;
  height: 30px;
  font-size: 0;
}
.mouleEntry {
  margin-right: 10px;
  float: left;
}
.mouleEntry li {
  float: left;
  height: 56px;
  line-height: 56px;
  margin-right: 20px;
}
.mouleEntry a {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
