<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide-active">
            <div class="img-box">
                <div class="img">
                    <img src="../../images/mini-banner-1.jpg" alt="" style="">
                    <div class="img-content">
                      <div class="content-title">政府与事业单位</div>
                        <div class="content-description">
                            谋乐科技长期服务政府行业，针对国家重要单位的信息安全一直是谋乐关注的方向，并与国家地区深度合作，建立国家城市安全有效保障机制，保护政府事业单位信息化的稳定运转。
                        </div>
                        <div><img src="../../images/logo-line-1.jpg" alt=""></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="swiper-slide ">
            <div class="img-box">
                <div class="img">
                    <img src="../../images/mini-banner-2.jpg" alt="" style="">
                    <div class="img-content">
                       <div class="content-title">金融行业</div>
                        <div class="content-description">谋乐科技针对金融行业退出了独特的服务内容，与众多金融机构共同应对严峻的互联网的挑战，实现了有效的安全保障机制。
                        </div>
                        <div><img src="../../images/logo-line-2.jpg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide ">
            <div class="img-box">
                <div class="img">
                    <img src="../../images/mini-banner-3.jpg" alt="" style="">
                    <div class="img-content">
                        <div class="content-title">电商行业</div>
                        <div class="content-description">谋乐科技帮助多家在线电商平台进行安全防护，应对巨大购物流量的同时，保障安全运转，抵御来自外部的恶意攻击。</div>
                        <div><img src="../../images/logo-line-3.jpg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide ">
            <div class="img-box">
                <div class="img">
                    <img src="../../images/mini-banner-4.jpg" alt="" style="">
                    <div class="img-content">
                        <div class="content-title">互联网行业</div>
                        <div class="content-description">谋乐科技持续跟进互联网公司发展，从网络架构到运营场景，我们伴随着多数互联网公司一同成长，高效的协同方式和高性价比的专业解决方案，是我们对整个互联网行业的完美助力。
                        </div>
                        <div><img src="../../images/logo-line-4.jpg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Add Pagination -->
   <!-- <div class="swiper-pagination"></div>-->
    <!-- Add Arrows -->
   <!-- <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>-->
</div>