<div style="margin: 0 auto;margin-top: -90px;text-align: center;position: relative;width: 760px;height: 760px">
    <div class="top-city">
        <span class="city city-color" data-city="shanghai" id="city-1" num="1"> 上海 </span>
        <span class="city" data-city="beijing" id="city-2" num="2"> 北京 </span>
        <span class="city" data-city="guangzhou" id="city-3" num="3"> 广州 </span>
        <span class="city" data-city="shenzhen" id="city-4" num="4"> 深圳 </span>
        <span class="city" data-city="chengdu" id="city-5" num="5"> 成都 </span>
        <span class="city" data-city="tianjin" id="city-6" num="6"> 天津 </span>
        <span class="city" data-city="nanjing" id="city-7" num="7"> 南京 </span>
        <span class="city" data-city="shandong" id="city-8" num="8"> 山东 </span>
        <span class="city" data-city="henan" id="city-9" num="9"> 河南 </span>
    </div>
    <img width="760" height="760"  src="../../images/earth.png" alt=""/>
    <ul class="loading-ripple map-city" id="shanghai" style="position: absolute;top: 366px;left: 455px;">
        <i></i>
        <i></i>
        <i></i>
    </ul>

    <ul class="loading-ripple map-city" id="beijing" style="position: absolute;top: 302px;left: 400px; display: none">
        <i></i>
        <i></i>
        <i></i>
    </ul>
    <ul class="loading-ripple map-city" id="guangzhou" style="position: absolute;top: 412px;left: 433px;display: none">
        <i></i>
        <i></i>
        <i></i>
    </ul>
    <ul class="loading-ripple map-city" id="shenzhen" style="position: absolute;top: 416px;left: 438px;display: none">
        <i></i>
        <i></i>
        <i></i>
    </ul>
    <ul class="loading-ripple map-city" id="chengdu" style="position: absolute;top: 380px;left: 382px;display: none">
        <i></i>
        <i></i>
        <i></i>
    </ul>
    <ul class="loading-ripple map-city" id="nanjing" style="position: absolute;top: 350px;left: 427px;display: none">
        <i></i>
        <i></i>
        <i></i>
    </ul>
    <ul class="loading-ripple map-city" id="tianjin" style="position: absolute;top: 314px;left: 407px;display: none">
        <i></i>
        <i></i>
        <i></i>
    </ul>
    <ul class="loading-ripple map-city" id="shandong" style="position: absolute;top: 328px;left: 428px;display: none">
        <i></i>
        <i></i>
        <i></i>
    </ul>
    <ul class="loading-ripple map-city" id="henan" style="position: absolute;top: 343px;left: 387px;display: none">
        <i></i>
        <i></i>
        <i></i>
    </ul>
</div>